<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Min's Travel</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
    <style>
    .bg-image {
    /* background-image: url("{% static './img/login.jpg' %}"); */
    background-size: cover;
    background-position: center;
    }
    </style>
</head>
<body>

    <div class="container-fluid ps-md-0">
        <div class="row img_s g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-5 bg-image">
                <img src="{% static 'img/login1.jpg' %}">
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                    <h2 class="login-heading mb-4">Welcome Min's Travel</h2>
                    <!-- Sign In Form -->
                    <form action="../login_s/" method="post" name="info">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="id" placeholder="아이디를 입력해주세요.">
                        <label for="floatingInput">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="pwd" placeholder="비밀번호를 입력해주세요.">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-lg my_btn btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                        <div class="text-center">
                            <a class="small" href="{% url 'signup' %}">Sign up</a>
                            <span>&#47;</span>
                            <a class="small" href="{% url 'search' %}">Forgot password?</a>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </body>
</html>
