<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Let's go Travel</title>
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link rel="stylesheet" href="{% static './css/m_ticket.css' %}">
    </head>
<body>
    <div class="container mt-4">
        <a class="btn" type="button" href="{% url 'logout' %}">로그아웃</a>
        <a class="btn" type="button" href="{% url 'mypage' %}">Mypage</a>
        <a class="btn" type="button" href="{% url 'main' %}">Main</a>
        <a class="btn" type="button" href="{% url 'payment' %}">여행지 선택</a>
        <span id="username_c">환영합니다 {{check_c.username}} 님</span> <span>&nbsp;&nbsp;</span>
    </div>
    <!-- for문 돌려서 해당 아이디가 결제한 여행내역 뽑아옴 -->
    {% if t_id %}
    {% for t_all in t_all.all reversed %}
    {% if t_all.t_userid == check_c.username %}
    <div class="container register">
        <div class="row ticket_gr">
            <div class="col-md-3 register-left">
                <img src="{% static './img/t-1.png' %}" alt=""/>
                <h3>Welcome</h3>
                <p>Check the ticket you chose.</p>
                <a type="button" class="btn my_btn" href="{% url 't_delete' %}">여행 취소</a>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">{{check_c.username}}님 Travel Ticket</h3>
                        <h3>
                            {{t_all.all}}
                        </h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span>상품</span>
                                    <input type="text" class="form-control" placeholder="사용자 상품" value="{{t_all.tname}}" />
                                </div>
                                <div class="form-group">
                                    <span>여행지</span>
                                    <input type="text" class="form-control" placeholder="가는 국가" value="{{t_all.get_country_display}}" />
                                </div>
                                <div class="form-group">
                                    <span>인원</span>
                                    <input type="text" class="form-control"  placeholder="함께가는 인원" value="{{t_all.count}}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span>가는날짜</span>
                                    <input type="text" class="form-control" placeholder="가는날짜" value="{{t_all.s_trip1}}" />
                                </div>
                                <div class="form-group">
                                    <span>오는날짜</span>
                                    <input type="text" class="form-control" placeholder="여기는 날짜 박고" value="{{t_all.s_trip2}}" />
                                </div>
                                <div class="form-group">
                                    <span>결제일</span>
                                    <input type="text" class="form-control" placeholder="오는날짜" value="{{t_all.start_date}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% endfor %}
    {% elif not t_id %}
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="{% static './img/t-1.png' %}" alt=""/>
                <h3>Welcome</h3>
                <p>Check the ticket you chose.</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">My Travel Ticket</h3>
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="아직 여행지를 선택하지 못하셨나요? 즐거움이 가득한 곳이 기다립니다." value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</body>
</html>