<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Min's Travel</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './css/mypage.css' %}">

</head>
<body>
    <div class="container-fluid ps-md-0">
        <div class="row img_s g-0">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">My Page</h3>
                            <form action="../reset/" method="post" name="info">
                            {% csrf_token %}
                            <!-- Sign In Form -->
                            {% for popo in total_member %}
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" name="id" value="{{popo.username}}" readonly/>
                                    <label for="floatingInput">NAME</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" name="id" value="{{popo.userid}}" readonly/>
                                    <label for="floatingInput">ID</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="password" class="chch1 form-control" name="pwd" value="{{popo.password}}" readonly>
                                    <input type="text" class="chch2 d-none form-control" name="pwd" value="{{popo.password}}" readonly>
                                    <label for="floatingPassword">Password</label>
                                    <span>&#09;&#124;&#124;</span>
                                    <label type="button" style="color:blue" onclick="cccc()">password check</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" name="email" value="{{popo.email}}" readonly>
                                    <label for="floatingInput">E-MAIL</label>
                                </div>
                                <div class="reset_2">
                                    <div class="form-floating mb-1">
                                        <input type="text" class="form-control" name="gender" value="{{popo.get_gender_display}}" readonly>
                                        <label for="floatingInput">GENDER</label>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <input type="text" class="form-control" name="gender" value="{{popo.text}}" readonly>
                                        <label for="floatingInput">One review</label>
                                    </div>
                                </div>
                                <div class="reset_1 d-none">
                                    <h4 class="login-heading mt-3 mb-2">변경 내용</h4>
                                    <div class="form-floating mb-1">
                                        <input type="text" class="form-control" name="npwd" />
                                        <label for="floatingInput">변경할 비밀번호</label>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <input type="text" class="form-control" name="ntt" />
                                        <label for="floatingInput">변경할 한줄평</label>
                                    </div>
                                </div>
                            {% endfor %}
                                    <div class="d-grid">
                                        <input type="button" class="btn btn-lg btn-info btn-login text-uppercase fw-bold mb-2" onclick="rrrr()" value="reset" />
                                        <button class="btn btn-lg btn-info btn-login text-uppercase fw-bold mb-2 suss d-none" type="submit">success</button>
                                        <a type="button" class="btn btn-lg btn-danger btn-login text-uppercase fw-bold mb-2 tal d-none" href="{% url 'tal' %}" value="탈퇴" >탈퇴</a>
                                        <!-- 여기는 버튼-->
                                        <div class="text-center">
                                            <a class="small" href="{% url 'main' %}">Main</a>
                                                <span>&#47;</span>
                                            <a class="small" href="{% url 'm_ticket' %}">Myticket?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 col-lg-5 bg-image">
                <img src="{% static './img/my-1.jpg' %}">
            </div>
        </div>
    </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script>
            function cccc() {
                const aa = $('.chch2').hasClass("d-none");
                if (aa) {
                $('.chch2').removeClass("d-none");
                $('.chch1').addClass("d-none");
                } else {
                $('.chch2').addClass("d-none");
                $('.chch1').removeClass("d-none");
                }
            }
            function rrrr() {
                const rr = $('.reset_1').hasClass("d-none");
                if (rr) {
                $('.reset_1').removeClass("d-none");
                $('.reset_2').addClass("d-none");
                $('.suss').removeClass("d-none");
                $('.tal').removeClass("d-none");
                } else {
                $('.reset_1').addClass("d-none");
                $('.reset_2').removeClass("d-none");
                $('.suss').addClass("d-none");
                $('.tal').addClass("d-none");
                }
            }
        </script>
        </body>
</html>
