
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/cart.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Travel destination.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'mypage' %}">Mypage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">어디로 여행가세요? {{nnnn.username}}님</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <form action="../cart/" method="post">
        {% csrf_token%}
        <header class="bg-dark py-3">
            <div class="container px-lg-4 my-3">
                <div class="text-center text-white justify-content-around">
                    <div class="row">
                        <div class="col-4">
                            <h2>Your choice.</h2><br>
                            <div class="price_info ms-3 me-3 ps-3 pe-3">
                            <div id="pp1"></div>
                            <div id="pp2"></div>
                            <div id="pp3"></div>
                            </div>
                        </div>
                        <div class="col-4 price_info text-center">
                            <h2>Your D&A Timr</h2><br>
                            <!-- 날짜 선택 부분 -->
                            <div class="justify-content-center">
                            <input type="hidden" name="start_date"/>
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest"> 
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="s_trip1" readonly />
                                    <div class="" data-target="#datetimepicker1" data-toggle="datetimepicker"> 
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="s_trip2" readonly />
                                    <div class="" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-4 price_result">
                            <h1 class="display-4 fw-bolder" id="poi">버튼</h1>
                            <button type="submit">써브밋!</button>
                            <p class="lead fw-normal text-white-50 mb-0">With this shop</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </form>
<!-- Section-->
<!--

여기 위치 확인해서 넣을것.
수정하고 어떻게 들어가는지 확인 할 것

-->
<section class="py-5">
    질문<br>
    1. 해당값을 가져와 input에 넣었는데, value값을 읽지 못해 null값으로 전달하게 됨.
        input에 넣었을 때 null값이 되는 이유와, nullㅣ 안되는 방법.<br>
    2. jquery 를 이용해 .html로 해당 위치에 값을 넣으려 하는데
        동일한 name을 사용할 시 읽어오지 못함 (undefined) 이것을 개별로 불러올 수 있도록
        switch / case를 사용해 버튼 누르고 해당 case에 맞을 때 마다 변수를 새로 선언해주는데도 읽지 못함.
        이것을 버튼을 누르고 스크립트를 읽을 때 마다 null -> 값 순서대로 들어가게 되면 코딩이 길어지는데,
        그냥 해당 위치에 값을 엎을 수 있는 방법이 있을까??

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname1" name="tname1" value="basic">유럽 Baisc</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" name="country" value="swi">스위스</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                체르마트<br>
                                융프라우<br>
                                툰호수
                            </span>
                            <br>
                            <select id="count" name="count1">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc(this)" id="1">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname2" name="tname2" value="basic2">유럽 Baisc2</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" name="country" value="net">네덜란드</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                체르마트<br>
                                융프라우<br>
                                툰호수
                            </span>
                            <br>
                            <select id="count" name="count2">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc(this)" id="2">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname3" name="tname3" value="basic3">유럽 Baisc</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" name="country3" value="eng">영국</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                체르마트<br>
                                융프라우<br>
                                툰호수
                            </span>
                            <br>
                            <select id="count" name="count3">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc(this)" id="3">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $120.00 - $280.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script type="text/javascript">
//     $(document).ready(function() {
//         const tname = $('#tname').attr('value');
//         const country = $('#country').attr('value');
//         const count = $("select[name=count]").val();
//         const b1 = $('#b_1');
//         const b2 = $('#b_2');
//         const b3 = $('#b_3');

//         function cccc(e) {
//         alert(e.tname);
//         $('#pp1').html('<input type="text" class="input-group input-group-sm" name="tname" id="tname1" value="'+tname+'"></input>');
//         $('#pp2').html('<input type="text" class="input-group input-group-sm" name="country" id="country1" value="'+country+'"></input>');
//         $('#pp3').html('<input type="text" class="input-group input-group-sm" name="count" id="count1" value="'+count+'"></input>');
//     }
//     b1.on('click', cccc);
//     b2.on('click', cccc);
//     b3.on('click', cccc);
// });

    function cccc(button) {
            const rr1 = $('#tname1').attr('value') == null;
            const rr2 = $('#country1').attr('value') == null;
            const rr3 = $("select[name=count1]").val() == null;
        var x = button.id;
        alert (x)
        switch (x) {
            case '1':
                const tname1 = $('#tname1').attr('value');
                const country1 = $('#country1').attr('value');
                const count1 = $("select[name=count1]").val();
                console.log(tname1)
                $('#pp1').html('<input type="text" class="input-group input-group-sm" name="tname" value="'+tname1+'"></input>');
                $('#pp2').html('<input type="text" class="input-group input-group-sm" name="country" value="'+country1+'"></input>');
                $('#pp3').html('<input type="text" class="input-group input-group-sm" name="count" value="'+count1+'"></input>');
                break;
            case '2':
                const tname2 = $('#tname2').attr('value');
                const country2 = $('#country2').attr('value');
                const count2 = $("select[name=count2]").val();
                console.log(tname2)
                $('#pp1').html('<input type="text" class="input-group input-group-sm" name="tname" id="tname1" value="'+tname2+'"></input>');
                $('#pp2').html('<input type="text" class="input-group input-group-sm" name="country" id="country1" value="'+country2+'"></input>');
                $('#pp3').html('<input type="text" class="input-group input-group-sm" name="count" id="count1" value="'+count2+'"></input>');
                break;
            case '3':
                cccc(x);
                break;
            default:
                return false;
        }
    }

    $(function () { 
    $('#datetimepicker1').datetimepicker({ format: "YYYY-MM-DD"});
    $('#datetimepicker2').datetimepicker({ format: "YYYY-MM-DD"});

    $("#datetimepicker1").on("change.datetimepicker", function (e) {
        $('#datetimepicker2').datetimepicker('minDate', e.date, ); 
    }); 
    // $("#datetimepicker2").on("change.datetimepicker", function (e) {
    //     $('#datetimepicker1').datetimepicker('maxDate', e.date);
    //     });
    }); 
    </script>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Min's Travel &copy; Your Website 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <link rel="stylesheet" href="{% static './js/cart.js' %}">
    
</body>
    <!--
    ('eng', '영국'), ('spa', '스페인'), ('net', '네덜란드'), ('ran', '프랑스')
    ('ita', '이탈리아'), ('swi', '스위스'), ('cze', '체코'),
    ('tur', '터키'), ('hon', '홍콩'), ('thi', '태국')
    -->
<!-- 
    <input type="text" class="input-group input-group-sm" name="tname" id="tname" placeholder="상품이름" value="유럽상품2" required="">
    <input type="text" class="input-group input-group-sm" name="country" id="country" placeholder="나라" value="eng" required="">
    <input type="text" class="input-group input-group-sm" name="count" id="count" placeholder="명수" value="1" required=""> -->

</html>