
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/cart.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" id="toptop" href="#!!">Travel destination.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'mypage' %}">Mypage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">어디로 여행가세요? {{nnnn.username}}님</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form> -->
            </div>
        </div>
    </nav>
    <!-- Header-->
    <form action="../cart/" method="post">
        {% csrf_token%}
        <input type="hidden" name="t_userid" value="{{nnnn.username}}"/>
        <header class="bg-dark py-3">
            <div class="container px-lg-4 my-3">
                <div class="text-center text-white justify-content-around">
                    <div class="row">
                        <div class="col-4">
                            <h2>Your choice.</h2><br>
                            <div class="price_info ms-3 me-3 ps-3 pe-3">
                            <div id="pp1"></div>
                            <div id="pp2"></div>
                            <div id="pp3"></div>
                            </div>
                        </div>
                        <div class="col-4 price_info text-center">
                            <h2>Your D&A Timr</h2><br>
                            <!-- 날짜 선택 부분 -->
                            <div class="justify-content-center">
                            <input type="hidden" name="start_date"/>
                            <div class="form-group"> 
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest"> 
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="s_trip1" readonly />
                                    <div class="" data-target="#datetimepicker1" data-toggle="datetimepicker"> 
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="s_trip2" readonly />
                                    <div class="" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-4 align-self-center price_result">
                            <!-- <h1 class="display-4 fw-bolder" id="poi">버튼</h1> -->
                            <button class="mt-5 btn btn-outline-light mt-auto" type="submit">여행가기!</button>
                            <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </form>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Ready</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb1}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname1" name="tname1" value="독일 basic">유럽 Baisc</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country1" name="country1" value="gr">{{bbn1}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                베를린:브라덴브르크문<br>
                                베를린장벽<br>
                                뭰헨:퓌센 노이슈반슈타인성<br>
                                드레스덴: 구시가지 관광
                            </span>
                            <br>
                            <select id="count1" name="count1">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc1()" id="1">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb2}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname2" name="tname2" value="네덜란드 basic">유럽 Baisc2</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country2" name="country2" value="net">{{bbn2}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">호텔급 숙소<br>
                                암스테르담<br>
                                헤이그<br>
                                잔세스칸스
                            </span>
                            <br>
                            <select id="count2" name="count2">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc2()" id="2">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb3}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname3" name="tname3" value="스위스 basic">유럽 Baisc3</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country3" name="country3" value="swi">{{bbn3}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                체르마트<br>
                                융프라우<br>
                                툰호수
                            </span>
                            <br>
                            <select id="count3" name="count3">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc3()" id="3">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb4}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname4" name="tname4" value="영국 basic">유럽 Baisc4</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country4" name="country4" value="eng">{{bbn4}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                런던<br>
                                옥스포드<br>
                                리버풀<br>
                                맨체스터
                            </span>
                            <br>
                            <select id="count4" name="count4">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc4()" id="4">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb5}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname5" name="tname5" value="체코 basic">유럽 Baisc5</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country5" name="country5" value="cze">{{bbn5}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                프라하와 <br>
                                체스키크룸로프를<br>
                                100배 즐기는 <br>
                                현지여행 코스
                            </span>
                            <br>
                            <select id="count5" name="count5">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc5()" id="5">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{bb6}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname6" name="tname6" value="스페인 basic">유럽 Baisc6</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country6" name="country6" value="spa">{{bbn6}}</div>
                                <div class="bi-star-fill">-8박9일</div>
                            </div>
                            <span class="text-muted">지역 호텔급 숙소<br>
                                바르셀로나<br>
                                마드리드<br>
                                그라나다<br>
                                구석구석 보자!
                            </span>
                            <br>
                            <select id="count6" name="count6">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc6()" id="6">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{aa1}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname7" name="tname7" value="싱가포르 basic">아시아 Baisc1</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country7" name="country7" value="sin">{{aan1}}</div>
                                <div class="bi-star-fill">-6박7일</div>
                            </div>
                            <span class="text-muted">마리나베이센즈호텔<br>
                                하루마다달라지는<br>
                                싱가포르의 모습!<br>
                                아쉽지 않은<br>
                                이색관광!
                            </span>
                            <br>
                            <select id="count7" name="count7">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc7()" id="7">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{aa2}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname8" name="tname8" value="태국 basic">아시아 Baisc2</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country8" name="country8" value="thi">{{aan2}}</div>
                                <div class="bi-star-fill">-4박5일</div>
                            </div>
                            <span class="text-muted">5성급 호텔<br>
                                치앙마이에서즐기는<br>
                                도이수탭, 야시장<br>
                                방콕에서 즐기는<br>
                                이색관광으로 떠나요!
                            </span>
                            <br>
                            <select id="count8" name="count8">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc8()" id="8">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{aa3}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname9" name="tname9" value="터키 basic">아시아 Baisc3</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country9" name="country9" value="tur">{{aan3}}</div>
                                <div class="bi-star-fill">-5박6일</div>
                            </div>
                            <span class="text-muted">지역 상급 호텔<br>
                                이스탄불:시가지관광<br>
                                시티투어<br>
                                소금호수까지!<br>
                                유럽과아시아의 조화!
                            </span>
                            <br>
                            <select id="count9" name="count9">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc9()" id="9">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% get_static_prefix %}img/pay/{{aa4}}.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" id="tname10" name="tname10" value="대만 basic">아시아 Baisc4</div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill" id="country10" name="country10" value="tai">{{aan4}}</div>
                                <div class="bi-star-fill">-4박5일</div>
                            </div>
                            <span class="text-muted">최상급 호텔<br>
                                타이베이<br>
                                지역인만아는<br>
                                이색관광으로 <br>
                                안내해드립니다.
                            </span>
                            <br>
                            <select id="count10" name="count10">
                                <option value="1">1명</option>
                                <option value="2">2명</option>
                            </select>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark mt-auto" href="#" onclick="cccc10()" id="10">선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script type="text/javascript">
        let m_1 = '<input type="text" class="input-group input-group-sm" name="tname" value="';
        let m_2 = '<input type="text" class="input-group input-group-sm" name="country" value="';
        let m_3 = '<input type="text" class="input-group input-group-sm" name="count" value="';
        let m_4 = '"readonly ></input>';
    function cccc1() {
        const rr1 = $('#tname1').attr('value');
        const rr2 = $('#country1').attr('value');
        const rr3 = $("select[name=count1]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc2() {
        const rr1 = $('#tname2').attr('value');
        const rr2 = $('#country2').attr('value');
        const rr3 = $("select[name=count2]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc3() {
        const rr1 = $('#tname3').attr('value');
        const rr2 = $('#country3').attr('value');
        const rr3 = $("select[name=count3]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc4() {
        const rr1 = $('#tname4').attr('value');
        const rr2 = $('#country4').attr('value');
        const rr3 = $("select[name=count4]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc5() {
        const rr1 = $('#tname5').attr('value');
        const rr2 = $('#country5').attr('value');
        const rr3 = $("select[name=count5]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc6() {
        const rr1 = $('#tname6').attr('value');
        const rr2 = $('#country6').attr('value');
        const rr3 = $("select[name=count6]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    // 여기서부터는 아시아 상품
    function cccc7() {
        const rr1 = $('#tname7').attr('value');
        const rr2 = $('#country7').attr('value');
        const rr3 = $("select[name=count7]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc8() {
        const rr1 = $('#tname8').attr('value');
        const rr2 = $('#country8').attr('value');
        const rr3 = $("select[name=count8]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc9() {
        const rr1 = $('#tname9').attr('value');
        const rr2 = $('#country9').attr('value');
        const rr3 = $("select[name=count9]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }
    function cccc10() {
        const rr1 = $('#tname10').attr('value');
        const rr2 = $('#country10').attr('value');
        const rr3 = $("select[name=count10]").val();
        $('#pp1').html(m_1 + rr1 + m_4);
        $('#pp2').html(m_2 + rr2 + m_4);
        $('#pp3').html(m_3 + rr3 + m_4);
        document.documentElement.scrollTop = 0;
    }



    $(function () { 
    $('#datetimepicker1').datetimepicker({ format: "YYYY-MM-DD"});
    $('#datetimepicker2').datetimepicker({ format: "YYYY-MM-DD"});

    $("#datetimepicker1").on("change.datetimepicker", function (e) {
        $('#datetimepicker2').datetimepicker('minDate', e.date, ); 
    }); 
    // $("#datetimepicker2").on("change.datetimepicker", function (e) {
    //     $('#datetimepicker1').datetimepicker('maxDate', e.date);
    //     });
    }); 
    </script>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Min's Travel &copy; Your Website 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>