<html>
    <head>

    </head>
    <body>
        <h1>가나다라~</h1>
        <!-- ejs문법인데 <%%>는 변수 출력 -->
        <%=id%>
        <%=name%>
        <!-- = 등호를 사용하는 이유는 변수 하나를 출력 할 때 알려주는 것. -->

        <!--
            <h3></h3>
            <br>
        -->
        <div>
        <%
            for ( var i = 0; i < id; i++ ) {
                __append("<h3>" + i + "</h3><br>" );
            }
        %>
        </div>
        <img src="aaa/la.jpg">

    </body>

</html>